<footer
  class="bg-neutral-950 py-12 text-neutral-400 mt-24 border-t border-neutral-800"
>
  <div class="container mx-auto max-w-6xl flex">
    <div class="flex-1">
      <div class="mb-4">
        Inhalo is a lovingly crafted independent app by Yevhen Horbachov. Have
        questions, feedback, or just want to say hi? I'd love to hear from you.
      </div>
      <div>© Yevhen Horbachov - All rights reserved.</div>
    </div>
    <div class="flex-1 flex justify-end">
      <div class="flex flex-col gap-2">
        <div class="text-sm font-semibold text-neutral-500">Resources</div>
        <a
          href="https://www.apple.com/legal/internet-services/itunes/dev/stdeula/"
          >Terms of Use</a
        >
        <a href="{{ '/privacy_policy/' | relative_url }}">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
